body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to bottom right, #52c9dc 50%, #2e303a 50%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calc {
  background-color: #1a1b28;
  width: 450px;
  padding: 5px;
}

#calc-display {
  background-color: #23293a;
  border: 1px solid #23293a;
  border-radius: 10px;
  color: white;
  width: 400px;
  height: 110px;
  margin: 20px auto;
  font-weight: 600;
}

.blueText {
  color: #52c9dc;
}

#top-display {
  display: flex;
  justify-content: flex-end;
  font-size: 45px;
  margin: 10px 15px;
}

#bottom-display {
  text-align: right;
  font-size: 25px;
  margin-right: 20px;
}

#calc-buttons {
  width: 400px;
  height: 480px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: 500;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  background-color: #52c9dc;
  border: 1px solid #52c9dc;
}

button:hover {
  background-color: #63cee0;
}

.numBtns {
  background-color: #1e2435;
  border: 1px solid #1e2435;
}

.numBtns:hover {
  background-color: #23293a;
}

#add {
  grid-row: span 2;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  color: white;
}

#footer a {
  text-decoration: none;
  color: white;
}

#logo {
  width: 40px;
  height: auto;
  margin: 5px;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(279deg)
    brightness(106%) contrast(101%);
}

@media (max-width: 1024px) {
  #calc {
    width: 600px;
    height: 800px;
  }

  #calc-display {
    width: 560px;
    height: 140px;
  }

  button {
    font-size: 60px;
    width: 130px;
    padding: 0;
  }

  #calc-buttons {
    width: fit-content;
    height: 600px;
    grid-gap: 15px;
  }

  #footer {
    font-size: 30px;
  }

  #logo {
    width: 50px;
  }
}

@media (max-width: 480px) {
  #calc {
    width: 300px;
    height: 600px;
  }

  #calc-display {
    width: 280px;
    height: 70px;
  }

  button {
    font-size: 30px;
    width: 60px;
    padding: 0;
  }

  #calc-buttons {
    width: fit-content;
    height: 470px;
    grid-gap: 15px;
  }

  #footer {
    font-size: 15px;
  }

  #logo {
    width: 30px;
  }
}
